<header>
    <app-navbar></app-navbar>
    <div id="dtr-wrapper" class="clearfix">
        <div id="dtr-main-content">
            <section id="home" class="dtr-section dtr-section-with-bg">
                <div class="container hero-section-top-padding dtr-full-stretch">
                    <h1 class="color-white">Events & News</h1>
                    <p class="text-size-md dtr-mt-30 color-white">Learn, Compete & Grow</p>      
                </div>
            </section>
        </div>
    </div>
</header>

<section class="dtr-section dtr-pt-70 dtr-pb-70 dtr-section-with-bg bg-light-blue-alt parallax"
         style="background-image: url(../../../assets/images/section-bg1.png);">
    <div class="container"> 
        
        <div class="row dtr-features-tab"> 
            
            <div class="col-sm-8">

            <div class="d-flex align-items-center justify-content-center mb-5">
                <div class="nav nav-pills" role="tablist" aria-orientation="vertical">                     
                    <a *ngFor="let tab of Tabs" (click)="showActiveTab(tab.value)" class="nav-link {{tab.status}}" id="{{tab.value}}-tab" data-toggle="pill" href="#{{tab.value}}" role="tab" aria-controls="features-tab-1" aria-selected="true">
                        <h5 class="font-weight-600 mb-0">{{tab.name}}</h5>
                    </a>   
                </div>
            </div>

        <!-- </div>

        <div class="row"> -->
            <!-- <div class="col-sm-12 d-flex align-items-baseline mb-5"> -->
                <!-- <div class="col-sm-6">
                    <p class="mb-0">Filter by Category</p>
                    <ng-select [items]="subCtg"
                            bindLabel="name"
                            bindValue="value"
                            placeholder="Select Sub Category"
                            appendTo="body"
                            [closeOnSelect]="true"
                            [(ngModel)]="selectedSubCtgId"
                            (change)="selectedSubCtg()">
                    </ng-select>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0">Filter by Tags</p>
                    <ng-select [items]="allTags" [closeOnSelect]="false" [searchable]="true"
                        [(ngModel)]="selectedTagIds" bindLabel="name" bindValue="value"
                        [multiple]="true" (change)="selectedTag()"placeholder="Select Tags"
                        >
                        <ng-template style="height: 15px;" ng-header-tmp>
                            <div>
                                <button type="button" class="btn btn-link"
                                    (click)="onSelectAll()">Select All</button>
                                <button type="button" class="btn btn-link"
                                    (click)="onClearAll()">Clear All</button>
                            </div>
                        </ng-template>
                    </ng-select>
                </div> -->
            <!-- </div> -->

            <h2 *ngIf="eventCards.length==0" class="text-center font-weight-700">No Events found</h2>
            
            <div class="tab-content" id="v-pills-tabContent"> 
                
                <div *ngFor="let tab of Tabs" class="tab-pane fade show {{tab.status}}" id="{{tab.value}}" role="tabpanel" aria-labelledby="features-tab-1-tab">
                    <div class="row">

                        <div *ngFor="let card of eventCards;  let i=index;"  class="col-md-6 tablink">
                            
                            <div class="dtr-feature feature-has-shadow dtr-rounded-corner-xl bg-white">                   
                                <div class="img-wrapper">
                                    <div class="dtr-feature-img mb-0" style="position: relative;">
                                        <div class="mask"></div>
                                        <img src="{{card.cover_picture}}" class="card-banner" alt="{{card.name}}"> 
                                        <div *ngIf="card.registration_status === 'REGISTRATIONS_OPEN'" class="upcoming">
                                            <div class="d-flex align-items-center">
                                                <div class="circle"></div>
                                                <p class="mb-0">Registrations <b>open</b> till <b>{{ card.registration_end_time | date:' MMM d, h:mm a' }}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dtr-feature-content">
                                    <div class="card-body">
                                        <h5 class="card-title">{{card.name}}</h5>
                                        <div class="d-flex justify-content-flex-start sub-head-row">
                                            <div class="pr-4">
                                                <p class="sub-head mb-0">Starts on</p>
                                                <p class="sub-head-des">{{ card.event_start_time | date:'h:mm a, d MMM y' }}</p>
                                            </div>
                                            <div class="pr-4">
                                                <p class="sub-head mb-0">Entry Fee</p>
                                                <p class="sub-head-des">{{card.currency}} {{card.fees}}</p>
                                            </div>
                                            <div class="">
                                                <p class="sub-head mb-0">Venue</p>
                                                <p class="sub-head-des">{{card.venue}}</p>
                                            </div>
                                        </div>
                                        <p style="border-bottom: 1px solid #f3f3f3;"></p>
                                        <div class="row pb-3" style="min-height: 80px;">
                                            <p class="card-text card-des mt-0 ">{{card.short_desc}}</p>
                                        </div>
                                        <div class="row pb-5" style="min-height: 80px;">
                                            <ul class="list-unstyled list-inline pl-2">
                                                <li *ngFor="let tags of card.card_tags;  let i=index;" class="list-inline-item me-0">
                                                    <div *ngIf="i<=2" class="tag mr-2">{{tags}}</div>
                                                    <div *ngIf="i>2">
                                                        <span style="color: orange;font-size: 12px;">
                                                            +{{card.card_tags.length - 3}} more
                                                        </span>   
                                                    </div>
                                                </li>
                                                <!-- <li class="list-inline-item me-0">
                                                  <div class="chip me-0">7:30PM</div>
                                                </li>
                                                <li class="list-inline-item me-0">
                                                  <div class="chip me-0">8:00PM</div>
                                                </li>
                                                <li class="list-inline-item me-0">
                                                  <div class="chip me-0">9:00PM</div>
                                                </li> -->
                                            </ul>
                                            <!-- <div *ngFor="let tags of card.card_tags;  let i=index;" class="col-sm-auto">
                                                <div *ngIf="i<=2" class="tag">{{tags}}</div>
                                                <div *ngIf="i>2" class="">
                                                    <span style="color: orange;font-size: 12px;">+{{card.card_tags.length - 3}} more</span>   
                                                </div>
                                            </div>                                             -->
                                        </div>
                                        <div class="row">

                                            <div *ngIf="card.registered_users.show_users_count === true"
                                             class="card-footer-with-user d-flex justify-content-between p-1">
                                                <div>
                                                    <div class="d-flex img-container">
                                                        <div *ngFor="let user of card.registered_users.top_users">
                                                            <img *ngIf="user.image_url !== null" src="{{user.image_url}}"
                                                                data-toggle="tooltip" data-placement="top" title="{{user.name}}">
                                                            <img *ngIf="user.image_url === null" src="../../../assets/images/user.png"
                                                                data-toggle="tooltip" data-placement="top" title="{{user.name}}">
                                                        </div>
                                                    </div>
                                                    <div class="count">
                                                        <p>and <b style="color: black;">{{card.registered_users.other_users_count}}</b>  others registered</p>
                                                    </div>
                                                </div>    
                                                <div class="">
                                                    <img *ngIf="card.registration_status === 'REGISTRATIONS_OPEN'" src="../../../assets/images/register.png" height="30px" alt="">
                                                </div>
                                            </div>
                                            
                                            <div *ngIf="card.registered_users.show_users_count === false" class="p-0">          
                                                <div class="card-footer-no-user pt-1">
                                                    <img *ngIf="card.registration_status === 'REGISTRATIONS_OPEN'" src="../../../assets/images/register.png" height="30px" alt="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> 
                </div>
        
            </div>

            </div>

            <div class="col-sm-4">
                <div class="col-sm-6">
                    <p class="mb-0">Filter by Category</p>
                    <ng-select [items]="subCtg"
                            bindLabel="name"
                            bindValue="value"
                            placeholder="Select Sub Category"
                            appendTo="body"
                            [closeOnSelect]="true"
                            [(ngModel)]="selectedSubCtgId"
                            (change)="selectedSubCtg()">
                    </ng-select>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0">Filter by Tags</p>
                    <ng-select [items]="allTags" [closeOnSelect]="false" [searchable]="true"
                        [(ngModel)]="selectedTagIds" bindLabel="name" bindValue="value"
                        [multiple]="true" (change)="selectedTag()"placeholder="Select Tags"
                        >
                        <ng-template style="height: 15px;" ng-header-tmp>
                            <div>
                                <button type="button" class="btn btn-link"
                                    (click)="onSelectAll()">Select All</button>
                                <button type="button" class="btn btn-link"
                                    (click)="onClearAll()">Clear All</button>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>

        </div>

    </div>
</section>

<app-footer></app-footer>