<!-- footer section starts -->
<footer
  id="dtr-footer"
  class="dtr-section-with-bg"
  style="background-image: url(../../../assets/images/footer-bg.png)"
>
  <div class="container">
    <div class="row">
      <!-- column 1 starts -->
      <div class="col-12 col-sm-6 col-lg-3 dtr-mb-30">
        <a href="index.html" class="d-block dtr-mb-15">
          <img src="../../../assets/images/logo/cnflogo.svg" alt="logo" />
        </a>
        <!-- <p>© 2021 Coding Ninjas. All rights reserved.</p> -->
      </div>
      <!-- column 1 ends -->

      <!-- column 2 starts -->
      <div class="col-12 col-sm-6 col-lg-2 dtr-mb-30">
        <h6 class="color-blue text-uppercase">Coding Ninjas</h6>
        <ul class="dtr-list-simple p-0">
          <li><a href="#" class="dtr-styled-link">About Us</a></li>
          <li><a href="#" class="dtr-styled-link">Privacy Policy</a></li>
          <li><a href="#" class="dtr-styled-link">Terms & Condition</a></li>
          <li>
            <a href="#" class="dtr-styled-link">Pricing & Refund Policy</a>
          </li>
          <li><a href="#" class="dtr-styled-link">Bug Bounty</a></li>
          <li><a href="#" class="dtr-styled-link">Customers</a></li>
          <li><a href="#" class="dtr-styled-link">Press Release</a></li>
        </ul>
      </div>
      <!-- column 2 ends -->

      <!-- column 3 starts -->
      <div class="col-12 col-sm-6 col-lg-2 dtr-mb-30">
        <h6 class="color-blue text-uppercase">Products</h6>
        <ul class="dtr-list-simple p-0">
          <li><a href="#" class="dtr-styled-link">Courses</a></li>
          <li><a href="#" class="dtr-styled-link">Try courses for Free</a></li>
          <li><a href="#" class="dtr-styled-link">Career Camp</a></li>
          <li><a href="#" class="dtr-styled-link">Hire Talent</a></li>
        </ul>
      </div>
      <!-- column 3 ends -->

      <!-- column 4 starts -->
      <div class="col-12 col-sm-6 col-lg-2 dtr-mb-30">
        <h6 class="color-blue text-uppercase">Community</h6>
        <ul class="dtr-list-simple p-0">
          <li><a href="#" class="dtr-styled-link">CodeStudio</a></li>
          <li><a href="#" class="dtr-styled-link">Blog</a></li>
          <li><a href="#" class="dtr-styled-link">Events</a></li>
          <li><a href="#" class="dtr-styled-link">Campus Ninja</a></li>
          <li><a href="#" class="dtr-styled-link">Affiliate</a></li>
        </ul>
      </div>
      <!-- column 4 ends -->

      <!-- column 5 starts -->
      <div class="col-12 col-sm-6 col-lg-3 dtr-mb-30">
        <h6 class="color-blue text-uppercase">Follow us on</h6>
        <!-- <div class="dtr-form dtr-form-has-icon dtr-form-no-gap"> -->
        <div class="dtr-social-large">
          <ul class=" dtr-social dtr-social-list color-white-muted-alt accent-color-hover text-left p-0">
            <li>
                <a href="#"class="dtr-instagram"target="_blank"title="instagram"></a>
            </li>
            <li>
                <a href="#"class="dtr-youtube"target="_blank"title="youtube"></a>
            </li>
            <li>
                <a href="#"class="dtr-twitter"target="_blank"title="twitter"></a>
            </li>
            <li>
              <a href="#"class="dtr-facebook"target="_blank"title="facebook"></a>
            </li>
          </ul>
        </div>
        <!-- <div class="dtr-social-large"> -->
            <h6 class="color-blue text-uppercase">Contact us</h6>
            <ul class="dtr-list-simple p-0">    
                <li>
                    <img class="mt-0 mr-2" src="../../../assets/images/icons/tel.png" style="height: 20px;" alt="">
                    <a href="#" class="dtr-styled-link">1800-123-3598</a>
                </li>
                <li>
                    <img class="mt-0 mr-2" src="../../../assets/images/icons/msg.png" style="height: 20px;" alt="">
                    <a href="#" class="dtr-styled-link">contact@codingninjas.com</a>
                </li>
            </ul>
        <!-- </div> -->
      </div>
      <!-- column 5 ends -->
    </div>
  </div>
</footer>
<!-- footer section ends -->

<div class="container back-white">
  <div class="footer-container back-white">
    <div class="container">
      <h4 class="my-16">Important Links</h4>
      <div class="row">
        <div class="important-links-section pt-1">
          <p class="mr-12">Coding Courses for Beginners:</p>
          <a class="mr-8" href="/courses/onlline-c-plus-plus-course"
            >C++ Foundation with Data Structures <span> | </span></a
          ><a class="mr-8" href="/courses/online-java-course"
            >JAVA Foundation with Data Structures <span> | </span></a
          ><a class="mr-8" href="/courses/online-interview-preparation"
            >Interview Preparation Course <span> | </span></a
          ><a class="mr-8" href="/courses/online-competitive-programming-course"
            >Competitive Programming Course <span> | </span></a
          ><a class="mr-8" href="/courses/online-python-course"
            >Python Foundation with Data Structures <span> | </span></a
          ><a class="mr-8" href="/courses/online-aptitude-preparation"
            >Aptitude Preparation Course
          </a>
        </div>
        <div class="important-links-section pt-1">
          <p class="mr-12">Advanced Coding Course:</p>
          <a class="mr-8" href="/courses/online-web-dev-with-react"
            >Advanced Front-End Web Development with React <span> | </span></a
          ><a class="mr-8" href="/courses/online-machine-learning-course"
            >Machine Learning and Deep Learning Course <span> | </span></a
          ><a
            class="mr-8"
            href="/courses/online-full-stack-node-js-web-dev-course"
            >Full Stack Web Development Course <span> | </span></a
          ><a class="mr-8" href="/courses/online-data-science-course"
            >Data Science &amp; Machine Learning Complete <span> | </span></a
          ><a class="mr-8" href="/courses/online-android-Development-kotlin"
            >Android Development with Kotlin
          </a>
        </div>
        <div class="important-links-section pt-1">
          <p class="mr-12">Career Tracks:</p>
          <a class="mr-8" href="/courses/online-competitive-programming-track"
            >Ninja Competitive Programmer Track <span> | </span></a
          ><a
            class="mr-8"
            href="/courses/online-android-development-career-track"
            >Ninja Android Developer Career Track <span> | </span></a
          ><a
            class="mr-8"
            href="/courses/ninja-web-developer-career-track-mern-stack"
            >Ninja Web Developer Career Track - NodeJS &amp; ReactJs
            <span> | </span></a
          ><a class="mr-8" href="/courses/web-developer-career-track"
            >Ninja Web Developer Career Track - NodeJS <span> | </span></a
          ><a class="mr-8" href="/courses/data-Scientist-career-track"
            >Ninja Data Scientist Career Track <span> | </span></a
          ><a
            class="mr-8"
            href="/courses/machine-learning-engineer-career-track"
            >Ninja Machine Learning Engineer Career Track
          </a>
        </div>
        <div class="important-links-section pt-1">
          <p class="mr-12">Free Trial:</p>
          <a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/onlline-c-plus-plus-course"
            >C++ Foundation with Data Structures <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-java-course"
            >Java Foundation with Data Structures <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-competitive-programming-course"
            >Competitive Course <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-aptitude-preparation"
            >Aptitude Preparation Course <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-python-course"
            >Python Foundation with Data Structures <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-android-Development-kotlin"
            >Android Development with Kotlin Language <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-full-stack-node-js-web-dev-course"
            >Full Stack Web Development with NodeJS <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-web-dev-with-react"
            >Advanced Front-End Web Development with React <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-data-science-course"
            >Data Science &amp; Machine Learning Complete <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-interview-preparation"
            >Interview Preparation Course <span> | </span></a
          ><a
            class="mr-8"
            href="https://codingninjas.com/free-trial-courses/online-machine-learning-course"
            >Machine Learning Course
          </a>
        </div>
        <div class="important-links-section pt-1">
          <p class="mr-12">Free Contents:</p>
          <a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/c-foundation-with-data-structures"
            >C++ Foundation with Data Structures <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/java-foundation-with-data-structures"
            >Java Foundation with Data Structures <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/competitive-programming-course"
            >Competitive Programming Course <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/aptitude-preparation-course"
            >Aptitude Preparation Course <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/python-foundation-with-data-structures"
            >Python Foundation with Data Structures <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/android-development-with-kotlin"
            >Android Development with Kotlin Language <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/full-stack-web-development"
            >Full Stack Web Development with NodeJS <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/advanced-front-end-web-development-with-react"
            >Advanced Front-End Web Development with React <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/data-science-machine-learning-complete"
            >Data Science &amp; Machine Learning Complete <span> | </span></a
          ><a
            class="mr-8"
            href="https://www.codingninjas.com/free-content/interview-preparation-course"
            >Interview Preparation Course
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div  class="payment-container container p-0">
  <div  class="footer-container">
    <div class="container row d-flex justify-content-between">
        <div class="footer-payments-section col-sm-6">
          <p class="mb-0 pr-1">We accept payments using:</p>
          <div>
            <img
             
              lazyload="https://files.codingninjas.in/visa-5604.png"
              alt="Visa"
              src="https://files.codingninjas.in/visa-5604.png"
              class="mr-3"
            /><img
             
              lazyload="https://files.codingninjas.in/paypal-5603.png"
              alt="Paypal"
              src="https://files.codingninjas.in/paypal-5603.png"
              class="mr-3"
            /><img
             
              lazyload="https://files.codingninjas.in/upi-5602.png"
              alt="UPI"
              src="https://files.codingninjas.in/upi-5602.png"
              class="mr-3"
            /><img
             
              lazyload="https://files.codingninjas.in/no-cost-emi-5601.png"
              alt="No-cost-emi"
              src="https://files.codingninjas.in/no-cost-emi-5601.png"
              class="mr-3"
            />
          </div>
        </div>
        <div class="footer-payments-section col-sm-6">
          <img
           
            src="https://files.codingninjas.in/secure-5600.png"
            lazyload="https://files.codingninjas.in/secure-5600.png"
            alt="secure"
            class="no-max-width mr-3"
          />
          <div>
            <img
             
              src="https://files.codingninjas.in/encryp-5599.png"
              lazyload="https://files.codingninjas.in/encryp-5599.png"
              alt="encrypt"
              class="mr-3"
            /><img
             
              src="https://files.codingninjas.in/razorpay-5598.png"
              lazyload="https://files.codingninjas.in/razorpay-5598.png"
              alt="Razorpay"
              class="no-margin-right mr-3"
            />
          </div>
        </div>
    </div>
  </div>
</div>
