@import '../../../assets/css/bootstrap.min.css';

#dtr-footer img{
    height: 76px;
    margin-top: 19px;
    max-width: 100%
}


.back-white{
    display: flex;
    justify-content: center;
    padding: 15px 5px;
}
.container .row .important-links-section {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .row .important-links-section p{
    margin-bottom: 0px;
    margin-right: 5px;
}

.payment-container {
    display: flex;
    justify-content: center;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}
.footer-container .container{
    width: 100%;
    justify-content: space-between;
    padding: 14px 0;
}
.footer-payments-section {
    display: flex;
    align-items: center;
}