<!-- Small Devices Header -->
<div class="dtr-responsive-header fixed-top">
	<div class="container ">

		<!-- small devices logo -->
		<a href="">
			<img src="../../../assets/images/logo/cnlogo.svg" height="50" width="50" alt="logo">
		</a>
		<!-- small devices logo ends -->

		<!-- menu button -->
		<button id="dtr-menu-button" class="dtr-hamburger" type="button">
			<span class="dtr-hamburger-lines-wrapper">
				<span class="dtr-hamburger-lines"></span>
			</span>
		</button>

	</div>

	<div class="dtr-responsive-header-menu"></div>

</div>

<!-- Small Devices Header ends -->

<header id="dtr-header-global" class="fixed-top on-scroll">
	<div class="container nav-container">
		<div class="d-flex align-items-center justify-content-between">

			<!-- header left starts -->
			<div class="dtr-header-left">

				<!-- logo -->
				<a class="logo-default dtr-scroll-link" href="">
					<img src="../../../assets/images/logo/cnlogo.svg" height="50" width="100" alt="logo">
				</a>

				<!-- logo on scroll -->
				<a class="logo-alt dtr-scroll-link" href="">
					<img src="../../../assets/images/logo/cnlogo.svg" height="50" width="100" alt="logo" >
				</a>
				<!-- logo on scroll ends -->

			</div>
			<!-- header left ends -->

			<!-- menu starts-->
			<div class="main-navigation navbar navbar-expand-lg ml-auto">
				<ul class="dtr-scrollspy navbar-nav dtr-nav light-nav-on-load dark-nav-on-scroll align-items-center justify-content-center">
					<li class="nav-item"> <a class="nav-link " href='/'>Home</a> </li>
					<li class="nav-item">
						<div class="header-nav__dropdown dropdown">
							<a class="nav-link" href="javascript:void(0);" role="button" id="Courses" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<span class="text-middle">Courses</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-caret-down-fill" viewBox="0 0 16 16">
									<path
										d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
								</svg>							</a>
							<div class="dropdown-menu" aria-labelledby="Courses">
								<a class="dropdown-item" href="/">About Us</a>
								<a class="dropdown-item" href="/">Our Customers</a>
								<a class="dropdown-item" href="/">Knowledge base</a>
								<a class="dropdown-item" href="/">Contact Us</a>
							</div>
						</div>
					</li>
                    <li class="nav-item">
						<div class="header-nav__dropdown dropdown">
							<a class="nav-link" href="javascript:void(0);" role="button" id="Practice" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<span class="text-middle">Practice</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-caret-down-fill" viewBox="0 0 16 16">
									<path
										d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
								</svg>							</a>
							<div class="dropdown-menu" aria-labelledby="Practice">
								<a class="dropdown-item" href="/">About Us</a>
								<a class="dropdown-item" href="/">Our Customers</a>
								<a class="dropdown-item" href="/">Knowledge base</a>
								<a class="dropdown-item" href="/">Contact Us</a>
							</div>
						</div>
					</li>
					<li class="nav-item"> <a class="nav-link" routerLink='/'>Events</a> </li>
					<li class="nav-item"> <a class="nav-link" routerLink='/'>Campus Ninjas</a> </li>
					<li class="nav-item"> <a class="nav-link" routerLink='/'>Blog</a> </li>
					<li class="nav-item"> 
                        <a class="nav-link" routerLink='/'>
                            <img src="../../../assets/images/icons/cc.svg" class="nav-image" height="50" width="100" alt="">
                        </a>
                    </li>
					<li class="nav-item"> <a class="nav-link" routerLink='/'>My Classroom</a> </li>
					<li class="nav-item" >
						<div class="dtr-header-right">
							<a href="/" class="dtr-btn btn-white btn-accent-on-scroll dtr-scroll-link dtr-px-50">
								Login
							</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- menu ends-->

		</div>
	</div>
</header>